*.exe
*.exe~
pc
**/pc
*tfstate*
*.zip
*.tar.gz
*.rar
*.plan
public/**
themes/**
**.DS_Store
**.git
logs/**
junk/**

## terraform files
*.tfstate
*.tfstate.*
.terraform/**
**/.terraform/**
.terraform.tfstate.lock.info
**/.terraform.tfstate.lock.info
tf.plan
tfplan
crash.log
crash.*.log

.vscode
!.vale.ini
.styles/**
.vscode/**
**settings.json*
python/public
env/
out/
~
nohup.out
env/

## IBM bob
.bob/**
.bob.lock.json

## .NET
bin/**
obj/**
ProjectAPI/bin/**
ProjectAPI/obj/**
*.exe
*.exe~
pc
**/pc
*tfstate*
*.zip
*.tar.gz
*.rar
*.plan
public/**
themes/**
**.DS_Store
**.git
logs/**
junk/**

## terraform files
*.tfstate
*.tfstate.*
.terraform/**
**/.terraform/**
.terraform.tfstate.lock.info
**/.terraform.tfstate.lock.info
tf.plan
tfplan
crash.log
crash.*.log

.vscode
!.vale.ini
.styles/**
.vscode/**
**settings.json*
python/public
env/
out/
~
nohup.out
env/

.bob/**

## dotnet files
bin/
obj/
*.user
*.suo
*.cache
project.lock.json

## this project
ProjectApi/vault-agent/role-id
.gitignore
ProjectApi/vault-agent/secret-id
dotnet-httpclient.mdx
